@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  src: url('../assets/fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('../assets/fonts/NotoSansKR-Medium.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url('../assets/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('../assets/fonts/NotoSansKR-Bold.woff') format('woff');
  font-display: fallback;
}
